.banner {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.title {
    font-size: 18px;
    font-weight: 500;
}
.timeAuthor {
    font-size: 14px;
    font-weight: 400;
    color: rgb(157, 157, 158);
}
@media (max-width: 1620px){
    .title {
        font-size: 14px;
    }
}
@media (max-width: 680px){
    .banner {
        padding: 0;
    }
    .title {
        font-size: 12px;
    }
}